.login_wrapper {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   .title {
      font-size: 3rem;
   }

   .form_wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 40vh;
      .field {
         background: #656473;
         border: #656473 1px solid;
         padding: 5px;
         border-radius: 3px;
         width: 250px;
         outline: none;
         margin-bottom: 2rem;
         &:focus {
            border: #151421 1px solid;
         }
      }
      button {
         background: #151421;
         color: #fff;
         padding: 0.5rem 1rem;
         &:disabled {
            background: #fff;
            color: #151421;
         }
      }
   }
}
