@import-normalize;
@import './02-features/01-learning/learnPage/LearnPage.module';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   font-family: 'Ubuntu', sans-serif;
   font-size: 10px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
